option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 3001
    cart: http://production.eba-sjic3pmv.us-east-1.elasticbeanstalk.com/api
    product: https://0x886qllp8.execute-api.us-east-1.amazonaws.com/prod
    order: https://0x886qllp8.execute-api.us-east-1.amazonaws.com/prod
    import: https://jkwaeh28o3.execute-api.us-east-1.amazonaws.com/prod
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
