option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 4000
    cart: http://production.eba-sjic3pmv.us-east-1.elasticbeanstalk.com/api
    products: https://8nzred66a6.execute-api.us-east-1.amazonaws.com/prod
    import: https://ptoha1cju9.execute-api.us-east-1.amazonaws.com/prod
